extends layout

block content
  h1= title
  p This service lets you validate your Activity Streams 2.0 (AS2) data.

  form(id='validateByUrl', method='GET', action='/validate')
    .form-group
      label(for='url') URL
      input#url.form-control(type='url', name='url', placeholder='URL')
      p.help-block This is the URL of an Activity Streams 2.0 document.
    button.btn.btn-default(type='submit') Validate

  form(id='validateByData', method='POST', action='/validate')
    .form-group
      label(for='data') Data
      textarea#data.form-control(rows='8', name='data')
      p.help-block If you just need to validate some data, put it here.
    button.btn.btn-default(type='submit') Validate

  form(id='validateByUpload', method='POST', action='/validate', enctype='multipart/form-data')
    .form-group
      label(for='file') File
      input#file.form-control(type='file', name='file', placeholder='URL')
      p.help-block You can upload a file here.
    button.btn.btn-default(type='submit') Validate

  p
   | You can also use the /validate endpoint to send data from the command line
   | or your favourite programming language. For example:
   blockquote
     code
       | curl -H "Content-Type: application/activity+json" --data @yourfile.json https://as2.rocks/validate

  p
    | This validator is Open Source software, available under the&nbsp;
    a(href='https://www.w3.org/Consortium/Legal/2015/copyright-software-and-document', rel='license')
      W3C Software and Document Notice and License
    | .
    | Code is available at&nbsp;
    a(href='https://github.com/w3c-social/activitystreams-validator') https://github.com/w3c-social/activitystreams-validator
    | .

  p
   | To test an Activity Streams 2.0 consumer, use the&nbsp;
   a(href='https://github.com/w3c/activitystreams/tree/master/test')
     test suite
   | &nbsp;available in the AS2 github repository.
